@mixin respond-to($media) {
    @media only screen and #{$media} {
        @content;
    }
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow($shadow) {
    -webkit-border-radius: $shadow;
    -moz-border-radius: $shadow;
    -ms-border-radius: $shadow;
    border-radius: $shadow;
}

@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}
@mixin transform($transform) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -o-transform: $transform;
    transform: $transform;
}

@mixin standard-transition() {
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

@mixin eua-font($weight, $font-size, $color) {
    font-family: "Frutiger LT Std 57 Cn";
    font-weight: $weight;
    font-size: $font-size;
    color: $color;
}