<header class="container-fluid">
    <section class="row logo_nav">
        <div class="container">
            <h1>
                <a href="#"><img src="assets/images/Logos/logo.png" alt="NextGentel Partner Portal"></a>
            </h1>
            <aside>
                <div class="dropdown">
                    <i class="fa fa-user-circle dropbtn" aria-hidden="true"></i>
                    <div class="dropdown-content">
                        <a href='#'>LINK 1</a>
                        <a href='#'>LINK 2</a>
                        <a href='#'>LINK 3</a>
                    </div>
                </div>
            </aside>
        </div>
    </section>
    <section class="row top_nav">
        <div class="container">
            <ngt-header-menu ></ngt-header-menu>
        </div>
    </section>
</header>


