    .top_nav {
        background: $green;
        .container {
            height: 44px;
        }
        .navbar {
            margin-bottom: 0px;
            min-height: auto;
            float: left;
            background: none;
            border: none;
            @include respond-to($tablet-portrait) {
                float: right;
                width: 100%;
            }
            .navbar-collapse {
                padding-left: 0px;
                ul {
                    list-style: none;
                    float: left;
                    width: 100%;
                    margin: 0px;
                    padding: 0px;
                    li {
                        float: left;
                        margin-right: 30px;
                        @include respond-to($tablet-portrait) {
                            float: none;
                        }
                        >a {
                            text-transform: uppercase;
                            float: left;
                            color: $white;
                            padding: 12px;
                            text-decoration: none;
                            @include transition(all 0.3s ease-in-out);
                            &.active {
                                background: $dark-green;
                                color: $white;
                            }
                            &:hover {
                                background: $dark-green;
                                color: $white;
                            }
                        }
                    }
                }
            }
        }
    }

    .logo_nav {
        h1 {
            float: left;
            width: 160px;
            position: relative;
            z-index: 99;
        }
        .navbar {
            float: left;
            margin: 20px 0 0 20px;
            background: none;
            border: none;
        }
        aside {
            font-size: 35px;
            margin-top: 24px;
            position: relative;
            float: right;
            cursor: pointer;
            .user-collapse {
                font-size: 14px;
                position: absolute;
                right: 5px;
                top: 80%;
                width: 170px;
                padding: 10px 5px 0px 5px;
                background: $light-grey;
                margin-top: 12px;
                box-shadow: 0 0 6px -1px rgba(0, 0, 0, 0.5);
                z-index: 9999;
                @include border-radius(5px);
                ul {
                    list-style: none;
                    padding: 0px;
                    li {
                        &:not(:last-child) {
                            border-bottom: 1px solid $formBorderColor;
                        }
                        a {
                            color: #333;
                            @include transition(all 0.3s ease-in-out);
                            display: block;
                            padding: 5px;
                            &:hover {
                                background: $green;
                                color: $white;
                            }
                        }
                    }
                }
                &:before {
                    content: "";
                    position: absolute;
                    width: 0px;
                    height: 0px;
                    border-top: 7px solid transparent;
                    border-bottom: 7px solid #333;
                    border-left: 7px solid transparent;
                    border-right: 7px solid transparent;
                    bottom: 100%;
                    right: 5px;
                }
            }
        }
    }
    /* User Profile Dropdown Button */

    .dropdown {
        position: relative;
        display: inline-block;
        .dropbtn {
            background-color: $green;
            color: $white;
            padding: 8px;
            cursor: pointer;
        }
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: $white;
            right: 0;
            top: 55px;
            min-width: 120px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            font-size: 14px;
            border-radius: 0 0 5px 5px;
            a {
                color: $dark-grey;
                padding: 10px;
                text-decoration: none;
                display: block;
                border-bottom: 1px solid $apiGrey;
                &:hover {
                    background-color: $light-grey;
                    color: $dark-grey;
                }
                &:last-child {
                    border: none;
                }
                &:last-child:hover {
                    border: none;
                    border-radius: 0 0 5px 5px;
                }
            }
        }
        &:hover {
            .dropdown-content {
                display: block;
            }
            .dropbtn {
                background-color: $green;
                &::after {
                    content: "";
                    height: 0;
                    width: 0;
                    border-left: 6px solid transparent;
                    border-right: 6px solid transparent;
                    border-bottom: 6px solid $white;
                    position: absolute;
                    bottom: -4px;
                    right: 0;
                    margin: 0 0 0 -3px;
                    z-index: 100;
                }
            }
        }
    }

    .header-dropdown {
        position: relative;
        right: 11%;
        top: 4px;
    }