.custom-table {
    width: 100%;
    margin-top: 50px;
    position: relative;
    thead {
        &::after {
            content: "-";
            display: block;
            line-height: 2em;
            color: transparent;
        }
        tr {
            position: relative;
            &::after {
                border-bottom: 2px solid $green;
                content: "";
                left: 0;
                position: absolute;
                top: 10px;
                width: 100%;
            }
        }
        th {
            span {
                padding: 5px 20px;
                background: $green;
                color: $white;
                border-radius: 25px;
                position: relative;
                z-index: 99;
                text-transform: uppercase;
            }
        }
    }
    tbody {
        tr {
            td {
                padding-left: 10px;
                a {
                    color: $green;
                }
                &.actions{
                    padding-left: 30px;
                }
            }
        }
    }
}