/* Primary Colors */

$green:#51A33D;
$dark-green:#457E30;
$light-green:#64cd2f;
$white:#fff;
$light-grey:#f5f5f5;
$dark-grey:#2B2B2B;
$light-grey2:#DDDDDD;
$bg-transparent:rgba(0, 0, 0, 0);
$apiGrey: #EAEEF1;

/************ COLORS ***********/

$linkColor: #063954;
$actionButtonBackground:#E7E8E9;
$formBorderColor:#BAC6CD;
$formLabelColor:#9BAEB8;
$btn-primary-color:#398A35;
$btn-primary-hover-color:#73B63F;
// toastr colors
$error-color:#d04437 ;
$warning-color:#ffd351 ;
$info-color:#3b7fc4 ;