// Typography VARIABLES
$eua-baseFont: 'Frutiger LT Std 57 Cn';
$eua-secondary-font:'open_sansregular';
$eua-secondary-bold:'open_sanssemibold';
$eua-secondary-light:'open_sanslight';
$btn-font-size:16px;